@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #31694e;
  --primary: #31694e;
  --secondary: #658c58;
  --accent: #bbc863;
  --card: #FFFFFF;
}

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-card: var(--card);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

/* Loading Screen Animation */
@keyframes logo-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-logo-rotate {
  animation: logo-rotate 10s linear infinite;
  will-change: transform;
}
